#body {
	/*background-color: lightgrey;*/
	background-size: cover;
	padding-top: 10px;
}
#header {
	height: 150px;
	font-size: 45px;
	border-top: solid black 5px;
	border-right: solid black 5px;	
	border-left: solid black 5px;
	border-bottom: solid black 5px;
}

#header_text {
	padding-top: 20px;
}

#par_one {
	padding-top: 10px;
	font-size: 20px;
}


#self {
	/*position: fixed;*/
	padding-left: -15px;
	margin-left: -15px;
	height: 140px;
}

#menu {
	border-right: dashed black 2px;
	border-left: solid black 5px;
}

.list_menu {
	font-size: 15px;
}

p.just {
	text-align: justify;
}

#content {
	font-size: 20px;
	border-right: solid black 5px;
}

#footer {
	height: 50px;
	border-top: solid black 5px;
	border-bottom: solid black 5px;
	border-left: solid black 5px;
	border-right: solid black 5px;
}

li {
	list-style: none;
	margin-left: -30px;
	font-size: 10px;
}

.proj {
	font-size: 20px;
}
#foot {
	font-size: 10px;
}
